
  
  <ion-content>
    <form [formGroup]="credentials" (ngSubmit)="login()">
      <ion-item lines="full">
        <ion-label position="floating">email</ion-label>
        <ion-input type="email" placeholder="example@email.com" formControlName="email" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">El correo es invalido</ion-note>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Iniciar Sesion</ion-button>
          
        </ion-col>
        <ion-col>
            <ion-button (click)="" type="submit" color="danger" expand="block">Registrarse</ion-button>
            
          </ion-col>
      </ion-row>
    </form>
  </ion-content>