<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item> <ion-label>&#64;Username </ion-label></ion-item>
    </ion-col>
    <ion-col>
      <ion-item color="danger"> <ion-label>+XX</ion-label></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-img src="../../assets/perfil/default_fotoPerfil.svg"></ion-img>
    </ion-col>
    <ion-col>
      <ion-item> XXX<br />Publicaciones </ion-item>
    </ion-col>
    <ion-col>
      <ion-item> XXX<br />Seguidores </ion-item>
    </ion-col>
    <ion-col>
      <ion-item> XXX<br />Siguiendo </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <perfil-descripcion></perfil-descripcion>
  </ion-row>
  <ion-row>
    <perfil-visor></perfil-visor>
  </ion-row>
</ion-grid>
