<ion-grid class="perfil">
  <ion-row class="perfil-username">
    <ion-col>
      <ion-item>
        <ion-label class="perfil-username__label"
          >&#64;Username
        </ion-label></ion-item
      >
    </ion-col>
    <ion-col>
      <ion-item color="danger">
        <ion-label class="perfil-username__publicaciones">{{
          this.cantidadPublicaciones
        }}</ion-label></ion-item
      >
    </ion-col>
  </ion-row>
  <ion-row class="perfil-info">
    <ion-col>
      <ion-img
        class="perfil-info__imagen"
        src="../../assets/perfil/default_fotoPerfil.svg"
      ></ion-img>
    </ion-col>
    <ion-col>
      <ion-item class="perfil-info__publicaciones">
        XXX<br />Publicaciones
      </ion-item>
    </ion-col>
    <ion-col class="perfil-info__seguidores">
      <ion-item> XXX<br />Seguidores </ion-item>
    </ion-col>
    <ion-col class="perfil-info__siguiendo">
      <ion-item> XXX<br />Siguiendo </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="perfil-descripcion">
    <perfil-descripcion></perfil-descripcion>
  </ion-row>
  <ion-row class="perfil-visor">
    <perfil-visor></perfil-visor>
  </ion-row>
</ion-grid>
